.WeatherItemWrapper {
    width: 20%;
    margin: auto;
    border: 1px solid #888;
    box-shadow: 3px 5px #888;
    font-family: 'Noto Serif TC', serif;
}

.WeatherItemCardTitle, .WeatherItemCardText {
    font-size: 3vw;
    text-align: center;   
}